sudo: false

language: node_js

node_js:
  - "6"
  - "8"
  - "10"

install:
  - make install

cache:
  directories:
    - "node_modules"

script:
  - make lint
  - make test

matrix:
  include:
  - node_js: '8'
    env: BROWSER=1
