sudo: false

language: node_js

node_js:
  - "4"
  - "6"
  - "8"

install:
  - make install

script:
  - make lint
  - make test
  - make coveralls

matrix:
  include:
  - node_js: '8'
    env: BROWSER=1
